- name: "Generate kubeconfig for {{ target_hosts }} host group"
  hosts: "{{ target_hosts }}"
  connection: local
  gather_facts: false
  tasks:
  - include_tasks: ../roles/k8s-cluster-access/tasks/get-static-access.yml
    vars:
      rbac_template: ../k8s-rbac/cluster-admin
      serviceaccount_name: cluster-admin
  - include_tasks: ../roles/k8s-cluster-access/tasks/generate-kubeconfig.yml
